[Unit]
Description=king cards game server
[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/tmp/king
User=backend
Group=backend
ExecStart="/bin/bash /tmp/king/king-permissions"
TimeoutSec=600
Restart=on-failure