[Unit]
Description=king cards game server
[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/tmp/king
User=root
Group=root
ExecStart=/bin/bash /tmp/king/king-permissions
TimeoutSec=600
Restart=on-failure