[Unit]
Description=king cards game server
[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/backend/king
User=backend
Group=backend
ExecStart=/bin/bash /home/backend/king/start
TimeoutSec=600
Restart=on-failure